body{
    background-color: antiquewhite;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    background-color: rgb(0,255,222);
    background-image: linear-gradient(90deg, rgba(0,255,222,1) 40%, rgba(244,69,252,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-size: 100px;
}

button{
    color: black;
    font-weight: bold;
    border: none;
    padding: 10px;
    margin-left: 5px
}

button:hover, button:focus{
    color: white;
    transition: 1s;
    background-color: violet;
    border-radius: 50px;
}

input{
    border: 5px solid aqua;
    background-color: rgb(0,255,222);
    background-image: linear-gradient(90deg, rgba(0,255,222,1) 40%, rgba(244,69,252,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    width: 200px;
    height: 40px;
    font-size: 30px;
}

#counter{
    font-size: 80px;
}

#counter:hover{
    cursor:all-scroll;
    background-color: rgb(0,255,222);
    background-image: linear-gradient(90deg, rgba(0,255,222,1) 40%, rgba(244,69,252,1) 95%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}